{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Logviewer</h1>
        <h5 class="header col s12 light grey-text">This site is used to display log entries. This has been setup by BloxTech, a technology company providing cheap Customer Service bots. Learn more at the server!</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/Rnbrex6" class="btn waves-effect my-button">BloxTech</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
